@media screen and (max-width: 1000px) {
  .event {
    width: 50%;
  }
}
@media screen and (max-width: 800px) {
  .date {
    font-size: 1em;
  }
  .event-title {
    font-size: 2em;
  }
  .event-about {
    font-size: 1em;
  }
}
@media screen and (max-width: 600px) {
  .top-event-date {
    font-size: 1em;
  }
  .top-event-title {
    font-size: 2em;
  }
  .top-event-about {
    font-size: 0.75em;
  }
  .show-hide {
    display: none;
  }
  #hide-show {
    display: block;
  }
  #hide-show a {
    margin: 0 0.5em;
    font-size: 1.5em;
  }
  #navIcons {
    display: none;
  }
  #navIconsBottom {
    display: block;
    text-align: center;
    padding-top: 0.5em;
    position: fixed;
    left: 0%;
    bottom: 0%;
    height: 10%;
    width: 100%;
    background: linear-gradient(-90deg, #0F1821, #151E27, #1A4E82, #E03545);
    background-size: 200% 200%;
    animation: change 10s ease-in-out infinite;
    z-index: 99;
  }
  #navIconsBottom a {
    color: #fff;
    font-size: 2em;
    padding: 0.5em;
  }
  .event {
    width: 100%;
  }
  #myBtn {
    bottom: 10%;
  }
}
@media screen and (max-width: 450px) {
  #logo img {
    width: 100%;
  }
}
@media screen and (max-width: 350px) {
  #navIconsBottom a {
    font-size: 1.5em;
  }
}