* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-size: 1em;
    font-family: "Spartan", Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: #0F1821;
}
#wrapper {
    display: block;
    margin: 15px auto;
    width: 96%;
}
/* Header & navigation in header*/
header {
    display: flex;
    justify-content: space-between;
    padding: 0.25em;
    margin-bottom: 1.5em;
    background: linear-gradient(-45deg, #0F1821, #151E27, #1A4E82, #E03545);
    background-size: 200% 200%;
    animation: change 10s ease-in-out infinite;
}
#logo {
    width: 20%;
}
#logo img {
    width: 50%;
}
#nav-user {
    display: flex;
    width: 65%;
    justify-content: space-between;
}
#nav {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
}
#nav a  {
    text-decoration: none;
    color: #fff;
    font-size: 1.25em;
}
#nav a:hover {
    border-bottom: 0.1em solid #E03545;
}
#hide-show {
    display: none;
}
/*Account settings*/
#user {
    align-self: center;
    cursor: pointer;
}
#user p {
    font-size: 0.5em;
    text-align: center;
}
.user-header {
    display: block;
    margin: 0 auto;
    width: 50%;
    border-radius: 50%;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 2em;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.user-account {
    text-align: center;
    padding-bottom: 2em;
}
.user-sidenav {
    margin-bottom: 2em;
    border-radius: 50%;
}
.sidenav a {
    padding: 0.5em 0.5em 0.5em 2em;
    text-decoration: none;
    font-size: 1.5em;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav a i {
    padding-right: 1em;
}
/*Main content*/
main {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/*Leftside navigation*/
#navIcons {
    width: 6%;
    background: linear-gradient(-90deg, #0F1821, #151E27, #1A4E82, #E03545);
    background-size: 200% 200%;
    animation: change 10s ease-in-out infinite;
}
#navIcons a {
    display: block;
    color: #fff;
    font-size: 2em;
}
#navIcons .fas {
    padding-right: 0.25em;
    position: fixed;
    left: 5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 2;
}
#navIcons .fas:hover, #navIcons .fas:focus {
    border-right: 0.1em solid #E03545;
}
#navIcons .fa-home {
    top: 40%;
}
#navIcons .fa-search {
    top: 50%;
}
#navIcons .fa-bullhorn {
    top: 60%;
}
#navIcons .fa-chalkboard-teacher {
    top: 70%;
}
#navIcons .fa-cogs {
    top: 80%;
}
#navIconsBottom {
    display: none;
}
/*Events*/
section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
/*Slider with top events*/
#top-events {
    padding: 0 0.5em;
}
.mySlides {
    display: none;
    position: relative;
}
.mySlides img {
    width: 100%;
    height: auto;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
/*Text on slider*/
.slide-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #000;
    opacity: 0.7;
    padding: 0.5em;
}
.top-event-date {
    font-size: 2em;
    top: 10%;
    left: 80%;
}
.top-event-title {
    top: 10%;
    left: 20%;
    font-size: 4em;
}
.top-event-about {
    top: 30%;
    left: 20%;
    font-size: 1.5em;
}
/*Button - buy ticket*/
.slide-text a {
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 10px 30px;
    position: absolute;
    right: 30%;
    bottom: 40%;
    transform: translate(50%, 50%);
    overflow: hidden;
    border: 2px solid #E03545;
    border-radius: 8px;
    color: #E03545;
    transition: .2s ease-in-out;
  }
.slide-text a:before {
    content: "";
    background: linear-gradient(90deg, rgba(255,255,255,.1), rgba(255,255,255,.5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
  }
.slide-text a:hover {
    background: #E03545;
    color: #fff;
  }
.slide-text a:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
  }
/*Rest of events*/
#row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.event {
    width: 25%;
    padding: 1em;
}
.event-container {
    position: relative;
}
.event-photo {
    width: 100%;
    height: auto;
}
.event-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #000;
    opacity: 0.7;
    padding: 1em 0 0 1em;
}
.event-text a {
    position: absolute;
    right: 0.25em;
    bottom: 0.5em;
    transform: rotate(45deg);
    color: #fff;
    font-size: 2em;
}
.event-text a:hover {
    color: #E03545;
}
/*Go to top button*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 5%;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}
#myBtn:hover {
    background-color: #555;
}
/*Footer*/
footer {
    text-align: center;
    padding: 1em;
    margin-top: 1.5em;
    background: linear-gradient(-45deg, #0F1821, #151E27, #1A4E82, #E03545);
    background-size: 200% 200%;
    animation: change 10s ease-in-out infinite;
}
footer p {
    font-size: 1em;
    color: #fff;
}
/*Animation for bg in header, leftside nav & footer*/
@keyframes change {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}